@model IEnumerable<MuseumMVC.Models.Indstempling>

@{
    ViewBag.Title = "Indstemplinger";
}

<h2>Indstemplinger</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TidStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tidspunkt)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TidStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tidspunkt)
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Tilbage", "Index")
</div>
